body{
    font-family: 'Inter', sans-serif;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}
.head-line{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 30%;
}
.head-line-3{
    color: black;
    text-align: center;
    font-size: 50px;
}
.head-line-4{
    color: black;
    text-align: center;
    font-size: 50px;
}
.sub-line{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20%;
}
.sub-line-3{
    font-size: 20px;
    text-align: center;
    color: black;
}
.sub-line-4{
    font-size: 20px;
    text-align: center;
    color: black;
}

.top-banner{
    height: 100vh;
    background: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
.text-position{
    margin-top: 20px;
}
.btn{
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
    background-color: orange;
    margin-left: 45%;
    margin-top: 10%;
}
.display-container{
    display: flex;
    margin-left: 25%;
}
.one-fifth-width{
    box-shadow: 1px 1px 1px 1px;
    width: 10%;
    padding-left: 1%;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
}
.value{
    padding-left: 20px;
    margin-left: 2%;
    color: grey;
    font-size: larger;
}
.value-bg{
    background-color: rgb(252, 251, 251);
}
.value-pass{
    margin-left: 2%;
}
.value-2{
    border: 1px;
    border-color: orange;
    background-color: orange;
}
small{
    margin-left: 45%;
    
}
hr{
    width: 53%;
    position: center;
    margin-top: 1%;
}
.donate-now-btn{
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
    background-color: orange;
    margin-left: 45%;
    margin-top: 10%;
}
.donate-plan{
    display: flex;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}
.one-third-width{
    width: 25%;
    padding-left: 1%;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
}
.display-container-2{
    display: flex;
    margin-left: 12%;
    margin-top: 5%;
}
.shalter{
    margin-left: 3%;
    background-color:pink ;
}
.education{
    margin-left: 3%;
    background-color: antiquewhite ;
}
.food{
    background-color: rgb(157, 241, 241);
}

.news{
    text-align: center;
}
.one-third-width-for-news{
    width: 17%;
    padding-left: 1%;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
}
.inner-color{
    background-color: rgb(187, 184, 184);
    margin-left: 3%;
}

fieldset{
    border: solid 1px #080808;
    background-color: rgb(236, 211, 180);
    margin-left: 25%;
    height: 100%;
    width: 50%;
    margin-bottom: 20%;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 60px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 50px 80px;
    background-color: beige;
}
.search-box{
    border: 1px solid white;
    padding-bottom: 3px;
    padding-top: 2px;
    background-color: white;
    background-size: cover;
}
.subscribe{
    background-color: red;
    border: 1px solid red;
    padding-bottom: 8px;
    text-decoration: none;
}
footer{
    background-color: black;
    text-align: center;
    height: 120px;
    padding-top: 2%;
}
.f-line-1{
    color: red;
    font-family: 'Lobster', cursive;
}
.f-line-2{
    color: white;
}
